*{
    font-family: var(--font-family);
}
.header{
    display: flex;
    justify-content: center;
    height: 108px;
}
.header-wrapper{
    display: flex;
    padding: 32px 16px;
    max-width: var(--max-width);
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo{
    height: 42px;
}
.navbar{
    height: 42px;
    display: flex;
}
.nav-menu{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.nav-menu li{
    font-size: 1rem;
    line-height: 1.5rem;
}
.nav-menu li a{
    font-family: var(--font-family);
    text-decoration: none;
    color: #3b3c4a;
    transition: color 0.5s;
}
.nav-menu li a:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.search-input {
    background-color:#F4F4F5;
    border-radius: 5px;
    min-width: 166px;
    min-height: 36px;
    text-indent: 20px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.search-input::placeholder{
    font-size: 0.8rem;
    color: #a1a1aa;
    line-height: 20px;
}
.search-input:focus{
    border: 1px solid var(--primary-color);
    outline: none;
    color: #3b3c4a;
}
.search-container{
    position: relative;
}
.search-icon{
    position: absolute;
    right: 8px;
    top: 6px;
    pointer-events: none;
}
/* Main Section Starts Here*/
.main-section{
    padding: 16px;
    max-width: var(--max-width);
    margin: auto;
}
.hero-section{
    position: relative;
}
.hero-image{
    min-height: 600px;
    background-image: url('../../../Images/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
    border: 1px solid rgba(255,255,255,0);
    background-position: center;
}
.hero-description{
    width: 600px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 12px 24px -6px rgba(24,26,42,0.12), inset 0 0 0 1px #E8E8EA;
    padding: 40px;
    position: absolute;
    top: 360px;
    left:64px
}
.hero-badge{
    background-color: var(--primary-color);
    padding: 8px 10px;
    font-size: 0.875rem;
    color:white;
    border-radius: 0.5rem;
    line-height: 1.3;
}
.badge-container{
    min-height: 28px;
    margin-bottom: 16px ;
}
.article-details h1 a{
    text-decoration:none ;
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    color: var(--heading-font-color);
}
.author-section{
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 1rem ;
    color: #98979F;
    margin-top: 24px;
}
.author-name{
    font-weight: 500;
}
.author-section img{
    width: 48px;
    height: auto;
}
/*Latest Posts Section Starts here*/
.blogs-section{
    margin-top: 160px;
}
.blogs-section h1{
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 700;
}
.posts{
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}
.single-post{
    flex-basis: 32%;
    padding: 16px;
    border: 1px solid #E8E8EA;
    border-radius: 0.75rem;
}
.single-post img{
    width: 100%;
    border-radius: 0.6rem;
}
.single-post .article-details{
    padding: 24px 8px;
}
.single-post h2 a{
    text-decoration: none;
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 600;
    color: #181a2a;
}
.single-post .hero-badge{
    background-color: rgba(75, 107, 251, 0.05);
    color: var(--primary-color);
}
.single-post .author-section img{
    width: 36px;
    height: auto;
}
.view-all {
    display: flex;
    justify-content: center;
    padding: 32px;
}
.view-all a{
    text-decoration: none;
    padding: 10px 20px;
    color: #696a75;
    font-size: 1rem;
    line-height: 1.3;
    border: 1px solid var(--heading-font-color);
    border-radius: 5px;
}
.view-all a:hover{
    background-color: var(--primary-color);
    color: #F4F4F5;
    border: none;
}